body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h3 {
  margin-top: 0;
}
.App {
  display: table;
  height: 100vh;
  width: 100vw;
}
.App-header {
  height: 100%;
}
.App > div {
  display: table-cell;
  vertical-align: top;
}





/* LEFTBAR   LEFTBAR   LEFTBAR   LEFTBAR   LEFTBAR   LEFTBAR   LEFTBAR    */
.leftBar {
  height: 100vh;
  width: 15vw;
  background-color: skyblue;
}

.ruleBar {
  background-color: orange;
  padding: 0.75vw;
  display: flex;
  justify-content: space-between;
}

.tagRuleButton {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
}

#tagList {
  position: relative;
  text-align: left;
}
.tag {
  margin: 2em;
}
#addTagButton {
  border-radius: 25%;
  height: 3em;
  width: 6em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#addTagForm {
  position: absolute;
  width: 23em;
  left: 100%;
  padding: 1em 1em 0 1em;
  border: solid blue 2px;
  background-color: coral;
  z-index: 500;
  font-size: 1.5em;
}
#addTagForm.hide {
  display: none;
}

#addTagForm h3 {
  text-align:center;
}
#addTagForm label {
  display: inline-block;
  width: 4em;
}
#addTagForm input {
  font-size: 1em;
}
#addTagForm br {
  font-size: 1.5em;
}
#addTagFormControls {
  display: flex;
  justify-content: space-between;
  margin: 1em 4em;
  /* border: solid red 1px; */
}
#addTagFormControls button{
  height: 3em;
  width: 8em;
}



/* MIDBAR    MIDBAR    MIDBAR    MIDBAR    MIDBAR    MIDBAR    MIDBAR    MIDBAR     */
.timerHeader {
  font-size: 4vh;
  padding: 1vh;
}
.midBar {
  background-color: lightcoral;
}
 /* CLOCKBLOCK     CLOCKBLOCK     CLOCKBLOCK     CLOCKBLOCK     CLOCKBLOCK */
.clockBlock  > div {
  display: inline-block;
  height: 33vh;
  width: 33vh;
  vertical-align: top;
  border: solid azure 1px;
}

/*CIRCLE    CIRCLE    CIRCLE    CIRCLE    CIRCLE    CIRCLE    CIRCLE    */
#circleWrapper {
  position: relative;
}
#circle {
  width: 30vh;
  height: 30vh;
  background-color: #999;
  border-radius: 50%;
  margin: 1.5vh;
}
#circle  svg {
  width: 100%;
  height: 100%;
}
#circle path {
  transform-origin: center;
  fill: grey;
  stroke: white;
}
#circle path.hovered {
  fill: yellow;
}
.circleButton {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: crimson;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CLOCK       CLOCK      CLOCK      CLOCK      CLOCK      CLOCK      */
#clockWrapper {
  position: relative;
  width: 66vh;
  margin: 0 5vh;
}
#clockWrapper div{
  position: absolute;
  user-select: none;
  left: 50%;
  transform: translate(-50%, -50%);
}
#start {
  top: 21%;
}
#clock {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  top: 50%;
}
#restart {
  top: 77%;
}
#clock input {
  float: left;
  margin-left: 1.5vh;
  padding: 0;
  border: 0;
  width: 2em;
  text-align: center;
  font-size: 10vh;
  box-sizing: border-box;
}

#start, #restart {
  /* margin: 15px; */
  /* border-radius: 50%; */
  /* padding: 10px; */
}

/* TERMS       TERMS       TERMS       TERMS       TERMS       TERMS       TERMS        */

#clockTerms {
  background-color: darkcyan;
  border-width: 0;
  overflow: hidden;
}
#clockTerms .term {
  vertical-align: top;
  user-select: none;
  width: 9vh;
  height: 9vh;
  margin: 1.5vh 0 0 1.5vh;
  float: left;
  border-radius: 1vh;
}








/*  RIGHTBAR    RIGHTBAR    RIGHTBAR    RIGHTBAR    RIGHTBAR    RIGHTBAR     */
.rightBar {
  background-color: lightgreen;
  width: 15vw;
}
.rightBar button {
  border-radius: 50%;
  height: 8vw;
  width: 8vw;
  margin-top: 3vw;
  vertical-align: top;

}
