body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h3 {
  margin-top: 0;
}
.App {
  display: table;
  height: 100vh;
  width: 100vw;
}
.App-header {
  height: 100%;
}
.App > div {
  display: table-cell;
  vertical-align: top;
}


.leftBar {
  min-height: 100vh;
  background-color: skyblue;
}

.leftBar  div {
  padding: 10px;
}

.leftBar button {
  display: block;
  width: 80px;
  height: 40px;
  margin: 20px;
}

.terms {
  background-color: pink;
}

.tags {
  background-color: orange;
}


.midBar {
  width: 100%;
  height: 100%;
  background-color: lightcoral;
}

.rightBar {
  background-color: lightgreen;
}
.navs{
  background-color: lightsalmon;
  width: max-content;
  padding: 10px;
}
.navs button {
  display: inline-block;
  width: 80px;
  height: 40px;
  margin: 10px ;

}


.clockBlock  > div {
  display: inline-block;
  height: 300px;
  width: 33%;
  vertical-align: top;
  border: solid azure 1px;
}


#circle {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #999;
  border-radius: 50%;
  margin: 18px;
}
svg {
  width: 100%;
  height: 100%;
}
path {
  transform-origin: center;
  fill: grey;
  stroke: white;
}

path.hovered {
  fill: yellow;
}
